<component name="libraryTable">
  <library name="web">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/build/web/httpcore-4.4.16.jar!/" />
      <root url="jar://$PROJECT_DIR$/build/web/json-20240303 (1).jar!/" />
      <root url="jar://$PROJECT_DIR$/build/web/commons-logging-1.3.4.jar!/" />
      <root url="jar://$PROJECT_DIR$/build/web/gson-2.11.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/build/web/javax.mail-1.6.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/build/web/mssql-jdbc-12.6.1.jre11.jar!/" />
      <root url="jar://$PROJECT_DIR$/build/web/jackson-annotations-2.17.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/build/web/jackson-core-2.17.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/build/web/mssql-jdbc-12.6.1.jre11-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/build/web/jakarta.servlet.jsp.jstl-3.0.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/build/web/jstl-1.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/build/web/jackson-core-asl-1.9.13.jar!/" />
      <root url="jar://$PROJECT_DIR$/build/web/mssql-jdbc-12.6.1.jre8-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/build/web/jackson-databind-2.17.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/build/web/jackson-mapper-asl-1.9.13.jar!/" />
      <root url="jar://$PROJECT_DIR$/build/web/activation-1.1.1 (1).jar!/" />
      <root url="jar://$PROJECT_DIR$/build/web/fluent-hc-4.5.14.jar!/" />
      <root url="jar://$PROJECT_DIR$/build/web/javax.activation-1.2.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/build/web/mssql-jdbc-12.6.1.jre8.jar!/" />
      <root url="jar://$PROJECT_DIR$/build/web/httpclient-4.5.14.jar!/" />
      <root url="jar://$PROJECT_DIR$/build/web/mssql-jdbc-12.6.1.jre11-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/build/web/jakarta.servlet.jsp.jstl-api-3.0.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/build/web/mssql-jdbc-12.6.1.jre8-sources.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>